<hr>
<div class="row">
        <div class="col-md-11 user-details">
            <div class="col-md-8 col-md-offset-2">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input
                                type="text"
                                id="firstName"
                                class="form-control"
                                [ngModel]="currentUser.firstName"
                                name="firstName"
                                required>
                        <label for="lastName">Last Name</label>
                        <input
                                type="text"
                                id="lastName"
                                class="form-control"
                                [ngModel]="currentUser.lastName"
                                name="lastName"
                                required>
                        <label for="email">Email</label>
                        <input
                                type="text"
                                id="email"
                                class="form-control"
                                [ngModel]="currentUser.email"
                                name="email"
                                required>
                    </div>
                    <button class="btn btn-primary" type="submit">Update</button>                    
                </form>
            </div>


        </div>
</div>